Repository UNFmontreal/containers: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_docker-datalad, build_datalad-apptainer, build_heudiconv, build_deface, build_pydeface, build_dicom_indexer

.gitlab-ci.yml:

image: docker:20.10.16

variables:
  # When you use the dind service, you must instruct Docker to talk with
  # the daemon started inside of the service. The daemon is available
  # with a network connection instead of the default
  # /var/run/docker.sock socket. Docker 19.03 does this automatically
  # by setting the DOCKER_HOST in
  # https://github.com/docker-library/docker/blob/d45051476babc297257df490d22cbd806f1b11e4/19.03/docker-entrypoint.sh#L23-L29
  #
  # The 'docker' hostname is the alias of the service container as described at
  # https://docs.gitlab.com/ee/ci/services/#accessing-the-services.
  #
  # Specify to Docker where to create the certificates. Docker
  # creates them automatically on boot, and creates
  # `/certs/client` to share between the service and job
  # container, thanks to volume mount from config.toml
  DOCKER_TLS_CERTDIR: "/certs"

services:
  - name: docker:20.10.16-dind
#    command: ["--registry-mirror", "http://maple.criugm.qc.ca:5000" ]  # Specify the registry mirror to use


stages:
  - build

.build_tpl:
  stage: build
  script:
    - export IMAGE_TAG=$IMAGE:$CI_COMMIT_REF_SLUG
    - echo $CI_REGISTRY_USER $CI_REGISTRY $IMAGE_TAG
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $IMAGE:latest || true
    - docker build --cache-from $IMAGE:latest -t $IMAGE:$CI_COMMIT_SHA -t $IMAGE:$CI_COMMIT_SHORT_SHA -t $IMAGE_TAG -t $IMAGE:latest ./docker/datalad-docker
    - docker push --all-tags $IMAGE

build_docker-datalad:
  extends: .build_tpl
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/docker-datalad
  rules:
    - changes:
        - docker/datalad-docker/**/*
        - .gitlab-ci.yml

build_datalad-apptainer:
  extends: .build_tpl
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/datalad-apptainer
  rules:
    - changes:
        - docker/datalad-apptainer/**/*
        - .gitlab-ci.yml

build_heudiconv:
  extends: .build_tpl
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/heudiconv
  rules:
    - changes:
        - docker/heudiconv/**/*
        - .gitlab-ci.yml

build_deface:
  extends: .build_tpl
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/deface
  rules:
    - changes:
        - docker/deface/**/*
        - .gitlab-ci.yml

build_pydeface:
  extends: .build_tpl
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/pydeface
  rules:
    - changes:
        - docker/pydeface/**/*
        - .gitlab-ci.yml

build_dicom_indexer:
  extends: .build_tpl
  variables:
    IMAGE: $CI_REGISTRY_IMAGE/dicom_indexer
  rules:
    - changes:
        - docker/dicom_indexer/**/*
        - .gitlab-ci.yml

wip: dicom indexre
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

FIX creating allways docker-datalad image
  .gitlab-ci.yml
Due: build_docker-datalad, build_datalad-apptainer, build_heudiconv, build_deface, build_pydeface, build_dicom_indexer

wip: dicom indexer
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

import subprocess
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

fix folder archival
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

add s3 remote init: wip
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

ironing out things: wip
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

wip: alpine docker with storescp + dicom indexer
  docker/dicom_indexer/Dockerfile
Due: build_dicom_indexer

add repo templates, fix s3 export
  docker/dicom_indexer/indexer/index_dicom.py
  docker/dicom_indexer/indexer/repo_templates/bids/.all-contributorsrc
  docker/dicom_indexer/indexer/repo_templates/bids/.bidsignore
  docker/dicom_indexer/indexer/repo_templates/bids/.derivatives
  docker/dicom_indexer/indexer/repo_templates/bids/.gitattributes
  docker/dicom_indexer/indexer/repo_templates/bids/.gitignore
  docker/dicom_indexer/indexer/repo_templates/bids/.gitlab-ci.yml
  docker/dicom_indexer/indexer/repo_templates/bids/README
  docker/dicom_indexer/indexer/repo_templates/dicom_study/.gitattributes
  docker/dicom_indexer/indexer/repo_templates/dicom_study/.gitlab-ci.yml
Due: build_dicom_indexer

use more pathlib
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

dicom_indexer docker:wip
  docker/dicom_indexer/Dockerfile
Due: build_dicom_indexer

try build matrix
  .gitlab-ci.yml
Due: build_docker-datalad, build_datalad-apptainer, build_heudiconv, build_deface, build_pydeface, build_dicom_indexer

fix path to docker context
  .gitlab-ci.yml
Due: build_docker-datalad, build_datalad-apptainer, build_heudiconv, build_deface, build_pydeface, build_dicom_indexer

avoid duplicate pipelines, run on main and MR
  .gitlab-ci.yml
Due: build_docker-datalad, build_datalad-apptainer, build_heudiconv, build_deface, build_pydeface, build_dicom_indexer

fix tags: avoid MR to overwrite latest
  .gitlab-ci.yml
Due: build_docker-datalad, build_datalad-apptainer, build_heudiconv, build_deface, build_pydeface, build_dicom_indexer

add command/entrypoin
  docker/dicom_indexer/Dockerfile
  docker/dicom_indexer/entrypoint.sh
Due: build_dicom_indexer

str to pathlib.path correction
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

corrected creation of ci-env.yml and more use of pathlib
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

set ni-dataops path as a env var
  .gitlab-ci.yml
  docker/dicom_indexer/indexer/index_dicom.py
  docker/dicom_indexer/indexer/repo_templates/bids/.gitlab-ci.yml
  docker/dicom_indexer/indexer/repo_templates/dicom_study/.gitlab-ci.yml
Due: build_docker-datalad, build_datalad-apptainer, build_heudiconv, build_deface, build_pydeface, build_dicom_indexer

wip
  docker/dicom_indexer/Dockerfile
  docker/dicom_indexer/entrypoint.sh
  docker/dicom_indexer/indexer/repo_templates/bids/.gitlab-ci.yml
  docker/dicom_indexer/indexer/repo_templates/dicom_study/.gitlab-ci.yml
Due: build_dicom_indexer

fix ssh server key
  docker/dicom_indexer/entrypoint.sh
Due: build_dicom_indexer

fix bids init with hidden file
  docker/dicom_indexer/indexer/index_dicom.py
  docker/dicom_indexer/indexer/repo_templates/bids/.bids_init
Due: build_dicom_indexer

use unf_prod branch, todo: fix
  docker/heudiconv/Dockerfile
Due: build_heudiconv

minor fix
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

ignore other stuffs
  docker/dicom_indexer/indexer/repo_templates/bids/.gitignore
Due: build_dicom_indexer

add metas to split study description
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

fix race condition init/heudiconv
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

add bidsignore from neuromod
  docker/dicom_indexer/indexer/repo_templates/bids/.bidsignore
Due: build_dicom_indexer

fix a new race condition, init needs qc/derivatives groups
  docker/dicom_indexer/indexer/index_dicom.py
Due: build_dicom_indexer

add nidataops config to setup gitattrs
  docker/datalad-apptainer/Dockerfile
  docker/datalad-apptainer/cfg_nidataops.py
Due: build_datalad-apptainer

add jq
  docker/datalad-apptainer/Dockerfile
Due: build_datalad-apptainer

move to main branch for ci-pipelines
  docker/dicom_indexer/indexer/repo_templates/bids/.gitlab-ci.yml
  docker/dicom_indexer/indexer/repo_templates/dicom_study/.gitlab-ci.yml
Due: build_dicom_indexer
